*{
    margin: 0;
    padding: 0;
}

.main{
    
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(projet/public/images/background.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
    }
.navbar{
    width: 1100px;
    height: 75px;
    margin: auto;
    padding-left: 200px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    width: 230px;
    color: #ff7230;
    font-size: 15px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 200px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(227, 227, 241), 0 0 5px rgb(93, 93, 102);

}
ul li a:hover{
    color: #ff7200;
}
.logo img{
    
    position: absolute;
 
 
  
border-radius: 4px solid rgb(4, 5, 5);
width: 50px;height: 50px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;  

}

 
.btn{
    width: 100px;
    height: 40px;
    background: #0a0a0a;
    border: 2px solid #524c47;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width:1200px;
    height: 400px;
    margin: auto;
    color: white;
    position: relative;
}


.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(227, 227, 241), 0 0 5px rgb(93, 93, 102);

}
.content .cn{
    width: 150px;
    height: 60px;
    background: -webkit-linear-gradient(right, #0c0c0c, #999795, #8d8786, #000000);
    border: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 100px;
    
}
.content .cn a{
    text-decoration: none;
    color: rgb(248, 244, 244);
    transition: .3s ease;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(227, 227, 241), 0 0 5px rgb(93, 93, 102);
 
}
.cn:hover{
    background-color: #fff;

}
.content span{
    color: #ff7200;
    font-size: 65px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(227, 227, 241), 0 0 5px rgb(93, 93, 102);

}



.wrapper{
    position: absolute;
    left:850px;
    bottom: 0%;
    overflow: hidden;
    max-width: 390px;
    background: rgb(14, 7, 0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 30px;

  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 90%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 500%;
    color: rgb(253, 253, 253);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: rgb(0, 0, 0);
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #b5b0b6, #0a0a0a);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: rgb(230, 15, 15);
  }
  #login:checked ~ label.signup{
    color: rgb(245, 14, 14);
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 90%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 96%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #aa8a99;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  
  .form-inner form .signup-link{
    text-align: center;
    

font-family: "Gill Sans", sans-serif;   
 margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #c795ac;
    text-decoration: none;
    font-family: cursive;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
    font-family: cursive;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #070707, #7a6871, #cabbcc, #020202);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }


  .form-inner form .message{
    font-family: sans-serif;
    background: #eca9a9;
     color: #420502;
    padding: 9px;
    width: 85%;
    border-radius:10px;
    margin: 5px auto;
   font-size: 17px;
  margin-right: 70px;
  text-align: center;
  transition:0.5s;
 
  z-index: 1;
  }
  #signup:checked ~ label.login{
    color: rgb(214, 206, 210);
     font-family: sans-serif;
   }
   #login:checked ~ label.signup{
    color: rgb(146, 129, 137);
     font-family: sans-serif;
   }
  






    

    